/* Definição das cores dos temas */
:root {
    /* Tema Dracula */
    --background-dark: #282a36; /* Fundo principal do Dracula */
    --text-color-dark: #f8f8f2; /* Cor de texto do Dracula */
    --navbar-background-dark: #44475a; /* Navbar do Dracula */
    --footer-background-dark: #44475a; /* Footer do Dracula */
    --list-group-item-dark: #6272a4; /* Itens da lista no Dracula */
    --btn-primary-dark: #3c9ad8; /* Botão Primário Dracula */
    --btn-success-dark: #29bb4d; /* Botão Sucesso Dracula */
    --btn-start-dark: #007bff; /* Botão Start Dracula */

    /* GitHub Light Theme */
    --background-light: #ffffff; /* Fundo claro do GitHub */
    --text-color-light: #24292e; /* Cor de texto do GitHub */
    --navbar-background-light: #ebebeb; /* Navbar do GitHub */
    --footer-background-light: #ebebeb; /* Footer do GitHub */
    --list-group-item-light: #f4f5df; /* Itens da lista no GitHub Light */
    --btn-primary-light: #0366d6; /* Botão Primário GitHub */
    --btn-success-light: #28a745; /* Botão Sucesso GitHub */
    --btn-start-light: #007bff; /* Botão Start GitHub */
}

/* Aplicação das cores do tema */
body {
    font-family: 'Arial', sans-serif;
    background: var(--background-dark);
    color: var(--text-color-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background: var(--navbar-background-dark);
    padding: 10px 20px;
    color: var(--text-color-dark);
    text-align: center;
    position: relative; /* Para o botão de tema */
}

.container, .footer {
    background: transparent;
}

#btn-start {
    background-color: var(--btn-start-dark);
    border-color: var(--btn-start-dark);
    color: #ffffff;
}

#btn-start:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #ffffff;
}

.footer {
    background: var(--footer-background-dark);
    position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px 0;
    
}

.list-group-item {
    background-color: var(--list-group-item-dark) !important;
    color: var(--text-color-dark) !important;
}

.list-group-item.active {
    background-color: var(--btn-primary-dark) !important;
    border-color: var(--btn-primary-dark) !important;
}

.btn-primary {
    background-color: var(--btn-primary-dark) !important;
    border-color: var(--btn-primary-dark) !important;
}

.btn-success {
    background-color: var(--btn-success-dark) !important;
    border-color: var(--btn-success-dark) !important;
}

/* Estilos para o tema claro */
.light-theme {
    --background-dark: var(--background-light);
    --text-color-dark: var(--text-color-light);
    --navbar-background-dark: var(--navbar-background-light);
    --footer-background-dark: var(--footer-background-light);
    --list-group-item-dark: var(--list-group-item-light);
    --btn-primary-dark: var(--btn-primary-light);
    --btn-success-dark: var(--btn-success-light);
    --btn-start-dark: var(--btn-start-light);
}
